<article class="py-8" itemscope itemtype="http://schema.org/BlogPosting">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when "article_title" %}
                <div class="flex items-center justify-center py-3">
                    <div class="max-w-7xl text-center">
                        <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">{{ blog.title }}</a>
                        <h1 class="text-4xl md:text-6xl font-medium" itemprop="headline">
                            {{ article.title }}
                        </h1>
                    </div>
                </div>
                
            {% when "article_author" %}
                <div class="flex items-center justify-center">
                    <div class="max-w-7xl text-center" itemscope itemprop="http://schema.org/Person">
                        {% if section.settings.enable_author %}
                            <small itemprop="author"> {{ article.author }}</small>
                        {% endif %}
                    </div>
                </div>

            {% when "article_published_date" %}
            <div class="flex items-center justify-center">
                <div class="max-w-7xl text-center">
                    {% if section.settings.enable_published_date %}
                        <time itemprop="datePublished dateCreated" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: "on_date" }}</time>
                    {% endif %}
                </div>
            </div>

            {% when "featured_image" %}
                <div itemprop="image" class="max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden my-4">
                    {% if article.image != blank %}
                        <img class="w-full h-80 md:h-96 object-cover object-center " src="{{ article.image | img_url: 'large'}}" alt="{{ article.image.alt }}">
                    {% else %}
                        {% assign placeholder_image = "lifestyle-2" %}
                        {{ placeholder_image | placeholder_svg_tag: "w-full h-80 md:h-96 object-cover object-center p-5"}}
                    {% endif %}
                </div>
                
            {% when "article_content" %}
                <div class="flex items-center justify-center ">
                    <div class="max-w-5xl" itemprop="articleBody">
                        {{ article.content}}
                    </div>
                </div>
            {% else %}
                
        {% endcase %}
    {% endfor %}

</article>

{% if blog.comments_enabled? %}
    <div class="my-8" id="comments">
        {% if article.comments_count > 0 %}
        
        {% else %}
            There are no comments yet 
        {% endif %}
    </div>

    <div id="comment_form" class="mb-8">
        {% form "new_comment", article %}
            <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">
                <div class="px-1 md:flex mb-3">
                    <div class="px-3 md:w-1/2">
                        <label  for="comment_author" class="text-gray-700 font-medium uppercase text-xs mb-2" for="">Name</label>
                        <input placeholder="John Smith" required type="text" name="comment[author]" id="comment_author" class="w-full text-gray-600 border py-3 px-4 mb-3 focus:outline-none">

                    </div>
                    <div class="px-3 md:w-1/2">
                        <label  for="comment_email" class="text-gray-700 font-medium uppercase text-xs mb-2" for="">Email</label>
                        <input placeholder="johnsmith@aol.com" required type="email" name="comment[email]" id="comment_email" class="w-full text-gray-600 border py-3 px-4 mb-3 focus:outline-none">
                        
                    </div>
                </div>
                <div class="px-1 md:flex mb-3">
                    <div class="md:w-full px-3">
                        <label for="comment_content" class="text-gray-700 font-medium uppercase text-xs mb-2">Comment</label>
                        <textarea class="w-full text-gray-700 resize-none h-20 py-2 px-3 focus:outline-none border" name="comment[body]" id="comment_content" required ></textarea>
                    </div>
                </div>
                <div class="px-1 md:flex mb-3">
                    <div class="md:w-full px-3">
                        <input type="submit" class="w-full cursor-pointer px-4 py-2 border text-base font-medium text-white  bg-gray-900 hover:bg-gray-500" value="Post Comment">
                    </div>
                </div>
            </div>
        {% endform %}
    </div>

{% endif %}

<script type="application/ld+json">
    {
        "@context": "http://schema.org"
    }
</script>

{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Display Published Dates"
        }
    ],
    "blocks":[
        {
            "type": "article_title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "article_author",
            "name": "Author",
            "limit": 1
        },
        {
            "type": "article_published_date",
            "name": "Published Date",
            "limit": 1
        },
        {
            "type": "featured_image",
            "name": "Thumbnail",
            "limit": 1
        },
        {
            "type": "article_content",
            "name": "Content",
            "limit": 1
        }
    ]
}
{% endschema %}